<div ng-if="!coreFinanceAnn && !error">
  <h3>Loading results...</h3>
</div>

<div ng-if="coreFinanceAnn && !error">
	<div class="">
		<table class="table table-bordered" ng-repeat="(company, itemDetails) in coreFinanceAnn">
			<thead>
				<tr>
					<th colspan="5"><h2>Annual Core Financial Details of {{ company }}</h2></th>
				</tr>
				<tr>
					<th>Items</th>
					<th>2015</th>
					<th>2014</th>
					<th>2013</th>
					<th>2012</th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="(item, finance) in itemDetails">
					<td> {{ item }} </td>
					<td> {{ currencyItem(item, finance[2015]) }} </td>
					<td> {{ currencyItem(item, finance[2014]) }} </td>
					<td> {{ currencyItem(item, finance[2013]) }} </td>
					<td> {{ currencyItem(item, finance[2012]) }} </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div ng-if="error && !coreFinanceAnn">
	<h3>{{ error }}</h3>
</div>